body {
    margin: 0 auto;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right, rgb(194, 49, 238), rgb(55, 226, 112));
}

h1 {
    font-family: 'Inconsolata', monospace;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
    font-family: 'Inconsolata', monospace;
    color: rgba(0, 0, 0, 0.589);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}